<div>
	<div class="modal-header">
		<h3 class="modal-title">Dodaj autora</h3>
	</div>
	<div class="modal-body">
		<form name="authorAddForm">
			<label>Imię: </label><input type="text" ng-model="additionalAuthor.firstName"required />
			<br>
			<label>Nazwisko: </label><input type="text" ng-model="additionalAuthor.lastName" required />
		</form>
	</div>
	<div class="modal-footer">
		<button ng-click="authorAddForm.$valid && addAuthor()">Dodaj autora</button>
		<button ng-click="$dismiss()">Anuluj</button>
	</div>
</div>